@import url(common.css);

/* section.process style */
section.process {
  height: 110vh;
  overflow: hidden;
}

section.process .contents {
  background: url(./img/our-design-process-background.jpg) no-repeat center;
  background-size: 108%;
  background-position: 60% 0%;
  position: relative;
}

section.process .contents .title {
  padding-top: 60px;
  color: #fff;
  font-size: 48px;
  font-weight: 400;
  text-align: center;
}

/* 중앙 흰색 선 */
section.process .contents .title::after {
  content: '';
  border-bottom: 2px solid #fff;
  display: block;
  margin: 1.56rem auto 2.1rem;
  width: 2.7rem;
}

section.process .contents .description p {
  font-size: 24px;
  font-weight: 700;
  max-width: 500px;
  margin: 0 auto;
}

section.process .contents .description .list {
  width: 25%;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  justify-content: space-evenly;
  margin: 30px auto 0;
}

section.process .contents .description .list ul {
  border-left: 2px solid #f7941d;
  padding: 0 15px;
}

section.process .contents .description .list li {
  margin: 10px 0;
}


/* .sequence style (하단부 다이어그램) */
section.process .contents {
  position: relative;
}

.cls-1 {
  fill: #1d1d1b;
  stroke: #fff;
  stroke-miterlimit: 10;
  stroke-width: 24.3px;
  transform: scale(0.53);
  fill-opacity: 0;
}

.first:hover>.cls-1 {
  fill-opacity: 0.3;
}

.second:hover>.cls-1 {
  fill-opacity: 0.3;
}

.third:hover>.cls-1 {
  fill-opacity: 0.3;
}

.first-circle,
.second-circle {
  fill: rgb(31, 185, 206);
  fill-opacity: 0.6;
}

.third-circle {
  fill: rgb(135, 255, 110);
  fill-opacity: 0.4;
}

.line {
  position: absolute;
  z-index: 9999;
}


section.process .contents .diagram p {
  color: #fff;
  font-size: 32px;

  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

section.process .contents .diagram p span.lnr:hover {
  color: #f7941d;
}

/* section.equries style */
/* left part */
section.enquries {
  height: 90vh;
  background-image: url(./img/city-dark.jpg);
}

section.enquries .inner {
  width: 50%;
  height: inherit;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section.enquries .inner article {
  width: 48%;
  color: #fff;
  /* background-color: blue; */
}

section.enquries .inner h2 {
  font-size: 24px;
}

section.enquries .inner article .left-top>h2::after {
  content: '';
  border-bottom: 2px solid #f7941d;
  display: block;
  margin: 1.56rem auto 2.1rem 0;
  width: 2.7rem;
}

section.enquries .inner article .left-top>ul {
  display: flex;
  justify-content: start;
  border-bottom: 1px solid #f7941d;
}

section.enquries .inner article .left-top>ul>li {
  font-weight: bold;
  line-height: 2;
  flex-grow: 1;
  padding-left: 15px;
}

section.enquries .inner article .left-top>ul>li:hover {
  color: #fff;
  background-color: #f7941d;
}

section.enquries .inner article .left-top>ul>li:first-child {
  background-color: #f7941d;
}

section.enquries .inner article p {
  font-size: 18px;
}

section.enquries .inner article .address h2 {
  margin-top: 20px;
}

section.enquries .inner article .address p {
  margin-top: 17px;
}

section.enquries .inner article .left-down h2 {
  margin-top: 100px;
}

section.enquries .inner article .left-down p:nth-child(2) {
  margin-top: 17px;
  color: #f7941d;
  font-size: 28px;
  font-weight: bold;
}

/* right part */
section.enquries .inner article .right {
  width: 100%;
  position: relative;
  bottom: 45px;
}

section.enquries .inner article .right form input {
  width: 100%;
  height: 60px;
  display: block;
  margin-bottom: 20px;
  font-family: 'Gibson', sans-serif;
  font-size: 17px;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 0;
  padding-left: 15px;
} 

section.enquries .inner article .right form input:hover,
section.enquries .inner article .right form input:focus,
section.enquries .inner article .right form textarea:hover,
section.enquries .inner article .right form textarea:focus {
  background-color: rgba(255, 255, 255, 0.1) ;
}

section.enquries .inner article .right form textarea {
  width: 100%;
  height: 150px;
  margin-bottom: 20px;
  font-family: 'Gibson', sans-serif;
  font-size: 17px;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 0;
  padding-left: 15px;
  padding-top: 20px;
}

section.enquries .inner article .right form input.btn {
  width: 100px;
  height: 45px;
  font-weight: 700;
  background-color: #f7941d;
  border: 0; 
  position: absolute;
  right: 0;
}

section.enquries .inner article .right form input.btn:hover {
  background-color: #be6c07;
  cursor: pointer;
}

/* footer style */
footer {
  background-color: black;
  position: relative;
}

footer .inner {
  color: #fff;
  width: 50%;
  height: 125px;
  margin: 0 auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .inner h2 {
  width: 30%;
}

footer .inner h2 img {
  width: 150px;
}

footer .inner p {
  width: 30%;
  font-size: 12px;
  flex-grow: 2;
  text-align: center;
}

footer .inner ul {
  font-size: 16px;
  width: 30%;
  display: flex;
  justify-content: end;
}

footer .inner ul li:first-child {
  font-weight: bold;
}

footer .inner ul li {
  margin-right: 10px;
}

footer .inner ul li:last-child {
  margin-right: 5px;
}

footer>p {
  font-size: 12px;
  color: #fff;
  position: absolute;
  top: 15px;
  right: 25%;
}