@import url(common.css);

/* section.process style */

/* 배경 설정 */
section.process {
  height: 110vh;
  overflow: hidden;
}

section.process .contents {
  background: url(./our-design-process-background.jpg) no-repeat center;
  background-size: 108%;
  background-position: 60% 0%;
  position: relative;
}

section.process .contents .title {
  padding-top: 60px;
  color: #fff;
  font-size: 48px;
  font-weight: 400;
  text-align: center;
}

section.process .contents .title::after {
  content: '';
  border-bottom: 2px solid #fff;
  display: block;
  margin: 1.5625rem auto 2.125rem;
  width: 2.6875rem;
}

section.process .contents .description p {
  font-size: 24px;
  font-weight: 700;
  max-width: 500px;
  margin: 0 auto;
}

section.process .contents .description .list {
  width: 25%;
  color: #fff;  
  font-size: 18px;
  font-weight: 700;
  display: flex;
  justify-content: space-evenly;
  margin: 30px auto 0;
}

section.process .contents .description .list ul {
  border-left: 2px solid #f7941d;
  padding: 0 15px;
}

section.process .contents .description .list li {
  margin: 10px 0;
}


/* .sequence style (하단부 다이어그램) */
section.process .contents {
  position: relative;
}

.cls-1 {
  fill: #1d1d1b;
  stroke: #fff;
  stroke-miterlimit: 10;
  stroke-width: 24.3px;
  transform: scale(0.53);
  fill-opacity: 0;
}

.first:hover {
  fill-opacity: 0.3;
}

.second:hover {
  fill-opacity: 0.3;
}

.third:hover {
  fill-opacity: 0.3;
}

.first-circle, .second-circle {
  fill: rgb(31, 185, 206);
  fill-opacity: 0.6;
}

.third-circle {
  fill: rgb(135, 255, 110);
  fill-opacity: 0.4;
}

.line {
  position: absolute;
  z-index: 9999;
}


section.process .contents .diagram p {
  color: #fff;
  font-size: 32px;
  
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

