@import url(common.css);

/* section.process style */
section.process {
  /* height: 1050px; */
  background: url(./img/our-design-process-background.jpg) no-repeat center;
  background-size: 2100px;
  background-position: 50% 0%;
}

section.process .contents .description {
  width: 1000px;
  margin: 0 auto;
}
section.process .contents .title {
  padding-top: 65px;
  color: #fff;
  font-size: 48px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 48px;
}

/* 중앙 흰색 선 */
section.process .contents .title::after {
  content: '';
  border-bottom: 2px solid #fff;
  display: block;
  margin: 1.1rem auto 2.1rem;
  width: 2.7rem;
}

section.process .contents .description p {
  font-size: 24px;
  font-weight: bold;
  max-width: 579px;
  margin-left: 270px;
  text-align: left;
  letter-spacing: 0.5px;
}

section.process .contents .description .list {
  width: 50%;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  justify-content: space-evenly;
  margin: 30px 0 30px 270px;
}

section.process .contents .description .list ul {
  border-left: 2px solid #f7941d;
  padding: 0 15px;
}

section.process .contents .description .list li {
  line-height: 1.8;
}


/* .sequence style (하단부 다이어그램) */
section.process .contents {
  position: relative;
}

.cls-1 {
  fill: #1d1d1b;
  stroke: #fff;
  stroke-miterlimit: 10;
  stroke-width: 24.3px;
  transform: scale(0.53);
  fill-opacity: 0;
}

.first >.cls-1 {
  fill-opacity: 0.3;
}

.second:hover>.cls-1 {
  fill-opacity: 0.3;
}

.third:hover>.cls-1 {
  fill-opacity: 0.3;
}

.first-circle,
.second-circle {
  fill: rgb(31, 185, 206);
  fill-opacity: 0.6;
}

.third-circle {
  fill: rgb(135, 255, 110);
  fill-opacity: 0.4;
}

.line {
  position: absolute;
  z-index: 9999;
}

section.process .contents .diagram {
  height: 600px;
}

section.process .contents .diagram p {
  color: #fff;
  font-size: 32px;

  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
}

section.process .contents .diagram p span.lnr:hover {
  color: #f7941d;
}

/* section.marketing style */
section.marketing .pic img {
  width: 100%;
}

section.marketing .txt-contents {
  width: 990px;
  margin: 80px auto 85px;
  display: flex;
  
}

section.marketing .txt-contents h2{
  font-size: 30px;
  margin-bottom:24px;
} 

section.marketing .txt-contents .left-one {
  width: 470px;
  margin-right: 10px;
  margin-left: 10px;
}

section.marketing .txt-contents .right-one {
  width: 470px;
  margin-left: 20px;
}

section.marketing .txt-contents .right-one h2 {
  color: #f7941d;
}

section.marketing .txt-contents p {
  font-size: 23px;
  font-weight: 400;
  margin-bottom: 20px;
  
}



/* section.equries style */

section.enquries {
  height: 90vh;
  background-image: url(./img/footer-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

section.enquries .inner {
  width: 50%;
  height: inherit;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section.enquries .inner article {
  width: 48%;
  color: #fff;
}

section.enquries .inner h2 {
  font-size: 24px;
}

section.enquries .inner article p {
  font-size: 18px;
}

/* left part */
section.enquries .inner article .left>h2::after {
  content: '';
  border-bottom: 2px solid #f7941d;
  display: block;
  margin: 1.56rem auto 2.1rem 0;
  width: 2.7rem;
}

section.enquries .inner article .left>ul {
  display: flex;
  justify-content: start;
  border-bottom: 1px solid #f7941d;
}

section.enquries .inner article .left>ul>li {
  font-weight: bold;
  line-height: 2;
  flex-grow: 1;
  padding-left: 15px;
}

section.enquries .inner article .left>ul>li:hover {
  color: #fff;
  background-color: #f7941d;
}

section.enquries .inner article .left>ul>li:first-child {
  background-color: #f7941d;
}

section.enquries .inner article .address {
  height: 355px;
}

section.enquries .inner article .address h2 {
  margin-top: 20px;
}
 
section.enquries .inner article .address p.address-content {
  height: 180px;
}
section.enquries .inner article .address p.address-content {
  margin-top: 15px;
}

section.enquries .inner article .address p:last-child {
  margin-top: 0px;
}

section.enquries .inner article .address p:nth-child(4) {
  margin-top: 17px;
  color: #f7941d;
  font-size: 28px;
  font-weight: 900;
}

section.enquries .inner article .left p:nth-child(4):hover {
  color: #be6c07;
}

/* right part */
section.enquries .inner article .right {
  width: 100%;
  position: relative;
  bottom: 45px;
}

section.enquries .inner article .right form input {
  width: 100%;
  height: 60px;
  display: block;
  margin-bottom: 20px;
  font-family: 'Gibson', sans-serif;
  font-size: 17px;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 0;
  padding-left: 15px;
  outline: none;
}

section.enquries .inner article .right form input:hover,
section.enquries .inner article .right form input:focus,
section.enquries .inner article .right form textarea:hover,
section.enquries .inner article .right form textarea:focus {
  background-color: rgba(255, 255, 255, 0.1) ;
}

section.enquries .inner article .right form textarea {
  width: 100%;
  height: 150px;
  margin-bottom: 20px;
  font-family: 'Gibson', sans-serif;
  font-size: 17px;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 0;
  padding-left: 15px;
  padding-top: 20px;
}

section.enquries .inner article .right form input.btn {
  width: 100px;
  height: 45px;
  font-weight: 700;
  background-color: #f7941d;
  border: 0; 
  position: absolute;
  right: 0;
}

section.enquries .inner article .right form input.btn:hover {
  background-color: #be6c07;
  cursor: pointer;
}

/* footer style */
footer {
  background-color: black;
  position: relative;
}

footer .inner {
  color: #fff;
  width: 50%;
  height: 125px;
  margin: 0 auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .inner h2 {
  width: 30%;
}

footer .inner h2 img {
  width: 150px;
}

footer .inner p {
  width: 30%;
  font-size: 12px;
  flex-grow: 2;
  text-align: center;
}

footer .inner ul {
  font-size: 16px;
  width: 30%;
  display: flex;
  justify-content: end;
}

footer .inner ul li:first-child {
  font-weight: bold;
}

footer .inner ul li {
  margin-right: 10px;
}

footer .inner ul li:last-child {
  margin-right: 5px;
}

footer>p {
  font-size: 12px;
  color: #fff;
  position: absolute;
  top: 15px;
  right: 25%;
}

/* ================ 반응형 웹 디자인 ================ */
/* 태블릿 1024px 이하 해상도(아이패드 프로) */
@media (max-width: 1024px) {

}

/* 태블릿 768px 이하 해상도 (아이패드 미니) */
@media (max-width:768px) {

}